MONGO_READ_URI=mongodb+srv://<STUDENT_ID>_reader:<READER_PASSWORD>@<cluster-host>/DB_<STUDENT_ID>?appName=Cluster0
MONGO_WRITE_URI=mongodb+srv://<STUDENT_ID>_writer:<WRITER_PASSWORD>@<cluster-host>/DB_<STUDENT_ID>?appName=Cluster0
SESSION_SECRET=<long-random-string>
STUDENT_NAME=<Full Name>
STUDENT_ID=<STUDENT_ID>
PORT=3000
